			{% extends "base.html" %}
			{% load static %}
			{% load crispy_forms_tags %}

			{% block selected %}
				<li class="menu-item"><a href="{% url 'base:home' %}">Home</a></li>
				<li class="menu-item "><a href="{% url 'base:about' %}">About Us</a></li>
				<li class="menu-item current-menu-item"><a href="{% url 'base:blog' %}">Blog</a></li>
				<li class="menu-item"><a href="{% url 'base:services' %}">Services</a></li>
			{% endblock %}

			{% block content %}

			<main class="main-content">
				{% if o_posts %}
					{% for o_post in o_posts %}
					<div class="col-md-4">
						<div class="latest-news">
							<ul>
								<li>
									<h3 class="entry-title"><a href="#">{{o_post.message}}</a></h3>
									<small class="date">by {{o_post.author.username}}</small></li><br>
									<small class="date">likes: {{o_post.likes}}</small>
								</li>
							</ul>
						</div> <!-- .latest-news -->
					</div>
					<a href="{% url 'base:like' o_post.slug %}"><i class="fa fa-thumbs-up"></i></a>
					<i class="fa fa-comment"></i>
					{% endfor %}
				{% endif %}

					
					

				<form method="POST">
					{% csrf_token %}
					{{ p_form.message }}
					<button href="primary-btn order-submit" type="submit" style="width: initial;">Post</button>
				</form>
			</main> <!-- .main-content -->

			{% endblock %}