			{% extends "base.html" %}
			{% load static %}
			{% load crispy_forms_tags %}

			{% block selected %}
				<li class="menu-item"><a href="{% url 'base:home' %}">Home</a></li>
				<li class="menu-item "><a href="{% url 'base:about' %}">About Us</a></li>
				<li class="menu-item current-menu-item"><a href="{% url 'base:blog' %}">Blog</a></li>
				<li class="menu-item"><a href="{% url 'base:services' %}">Services</a></li>
			{% endblock %}

			{% block content %}

			<main class="main-content">
				<form method="POST">
					{% csrf_token %}
					{{ p_form.message }}
					<button href="primary-btn order-submit" type="submit" style="width: initial;">Post</button>
				</form>
			</main> <!-- .main-content -->

			{% endblock %}