
			{% extends "base.html" %}
			{% load static %}

			{% block selected %}
				<li class="menu-item"><a href="{% url 'base:home' %}">Home</a></li>
				<li class="menu-item "><a href="{% url 'base:about' %}">About Us</a></li>
				<li class="menu-item"><a href="{% url 'base:blog' %}">Blog</a></li>
				<li class="menu-item current-menu-item"><a href="{% url 'base:services' %}">Services</a></li>
			{% endblock %}

			{% block content %}

			<main class="main-content">
				
				<div class="fullwidth-block content">
					<div class="container">
						<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur.</p>
						
						<div class="row">
							<div class="col-md-4">
								<div class="feature boxed">
									<header>
										<img src="{% static 'images/icon-1.png' %}" class="feature-icon">
										<div class="feature-title-copy">
											<h2 class="feature-title">Criminal Things</h2>
											<small class="feature-subtitle">Lorem ipsum dolor sit</small>
										</div>
									</header>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias doloremque, quis, eaque minus harum modi eius veritatis consequuntur expedita impedit ad, facilis. Asperiores assumenda aperiam atque, accusamus cupiditate vero sit!</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="feature boxed">
									<header>
										<img src="{% static 'images/icon-2.png' %}" class="feature-icon">
										<div class="feature-title-copy">
											<h2 class="feature-title">Estate Planning</h2>
											<small class="feature-subtitle">Lorem ipsum dolor sit</small>
										</div>
									</header>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias doloremque, quis, eaque minus harum modi eius veritatis consequuntur expedita impedit ad, facilis. Asperiores assumenda aperiam atque, accusamus cupiditate vero sit!</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="feature boxed">
									<header>
										<img src="{% static 'images/icon-3.png' %}" class="feature-icon">
										<div class="feature-title-copy">
											<h2 class="feature-title">Employment Law</h2>
											<small class="feature-subtitle">Lorem ipsum dolor sit</small>
										</div>
									</header>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias doloremque, quis, eaque minus harum modi eius veritatis consequuntur expedita impedit ad, facilis. Asperiores assumenda aperiam atque, accusamus cupiditate vero sit!</p>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<div class="feature boxed">
									<header>
										<img src="{% static 'images/icon-4.png' %}" class="feature-icon">
										<div class="feature-title-copy">
											<h2 class="feature-title">Bussiness</h2>
											<small class="feature-subtitle">Lorem ipsum dolor sit</small>
										</div>
									</header>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias doloremque, quis, eaque minus harum modi eius veritatis consequuntur expedita impedit ad, facilis. Asperiores assumenda aperiam atque, accusamus cupiditate vero sit!</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="feature boxed">
									<header>
										<img src="{% static 'images/icon-5.png' %}" class="feature-icon">
										<div class="feature-title-copy">
											<h2 class="feature-title">Contracts</h2>
											<small class="feature-subtitle">Lorem ipsum dolor sit</small>
										</div>
									</header>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias doloremque, quis, eaque minus harum modi eius veritatis consequuntur expedita impedit ad, facilis. Asperiores assumenda aperiam atque, accusamus cupiditate vero sit!</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="feature boxed">
									<header>
										<img src="{% static 'images/icon-6.png' %}" class="feature-icon">
										<div class="feature-title-copy">
											<h2 class="feature-title">Family Thins</h2>
											<small class="feature-subtitle">Lorem ipsum dolor sit</small>
										</div>
									</header>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias doloremque, quis, eaque minus harum modi eius veritatis consequuntur expedita impedit ad, facilis. Asperiores assumenda aperiam atque, accusamus cupiditate vero sit!</p>
								</div>
							</div>
						</div>

						<div class="cta">
							if you areinterested - <a href="#">Call Us</a>
						</div>
					</div> 
				</div>

			</main> <!-- .main-content -->

			{% endblock %}

